doctype html

html(lang="zh-CN")
  head
    meta(content="charset=utf-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    link(rel="stylesheet", href="../style/main.styl")

    block meta

    block title

    block css

  block body

    block js
      script(src="")
      