extends ./base.jade

block meta
  meta(name="keywords",  content="在线少儿英语领导品牌,一对一,外教,VIP个性化，学科英语，儿童，小学，英语，美国小学，教材，在线，翻转式课堂，浸入式英语学习")

block title
  title 不要熬夜！

block css
  link(rel="stylesheet", href="../style/main.styl")

block body
  body
    h1 我想要法拉利
    p 放肆！!!!!2ss

